<!-- Post -->
<mat-card class="post-card animated fadeIn fast mat-elevation-z4" #postCard>
    <!-- Header -->
    <mat-card-header>
        <div mat-card-avatar>
            <img class="post-pic border-sm-primary mat-elevation-z4 animated fadeIn slow"
            src={{post.image}} 
            [alt]="post.user" onError="this.src ='assets/img/common/default-user.png'"
            [routerLink]="[ '/home' ]" [queryParams]="{lang: 'es-la'}" fragment="education"
            style="cursor: pointer;"
            >
        </div>
        <mat-card-title>
            <div class="post-header">
                <a [routerLink]="[ '/' ]" [queryParams]="{lang: 'es-la'}" fragment="education" class="post-user">{{post.user | responsivetext:20}}</a>
                <span *ngIf="post.user_verified === true"><mat-icon class="verified-icon">check_circle</mat-icon></span>
            </div>
        </mat-card-title>
        <mat-card-subtitle i18n="Post Card Subtitle|Home feed subtitle card@@homeCardSub">@{{post.username}} • {{post.iat}}</mat-card-subtitle>
        <span class="action-fill"></span>
        <div>
            <button mat-icon-button (click)="openTools(post.user)"><mat-icon>more_vert</mat-icon></button>
        </div>
    </mat-card-header>

    <!-- Content container -->
    <ng-container *ngIf="post.content.length === 1; else swiperEnabled">
        <ng-container *ngIf="post.content[0].type != 1; else videoContainer">
            <img mat-card-image (dblclick)="onReact()" src={{post.content[0].url}} onError="this.src ='assets/img/common/default-user.png'">
        </ng-container>
        <ng-template #videoContainer>
                <video  mat-card-image class="animated fadeIn fast"
                muted loop controls (dblclick)="onReact()" [poster]="post.content[0].poster"
                src={{post.content[0].url}} type="video/mp4" onError="this.src ='assets/img/common/default-user.png'">
            </video>
        </ng-template>
    </ng-container>
    <ng-template #swiperEnabled>
        <!-- Swiper -->
        <div mat-card-image class="swiper-container" [swiper]="postSwiper">
            <div class="swiper-wrapper">
                <ng-container mat-card-image *ngFor="let element of post.content" >
                    <ng-container *ngIf="element.type != 1; else videoContainer" >
                        <img class="swiper-slide swiper-lazy" (dblclick)="onReact()" [attr.data-src]="element.url" onError="this.src ='assets/img/common/default-user.png'"  >
                    </ng-container>
                    <ng-template #videoContainer>
                        <!--
                        <mat-video class="swiper-slide swiper-lazy"
                            [autoplay]="false" [preload]="false" [fullscreen]="false" [loop]="true" playsinline=""
                            [quality]="false"
                            [download]="false" color="primary" spinner="spin" [poster]="element.poster">
                            <source matVideoSource [src]="element.url" type="video/mp4">
                        </mat-video>-->
                        <video class="swiper-slide swiper-lazy" autoplay (dblclick)="onReact()"
                        muted loop controls playsinline="" preload="none" [poster]="element.poster"
                        [attr.data-src]="element.url" type="video/mp4" onError="this.src ='assets/img/common/default-user.png'">
                        </video>
                    </ng-template>
                </ng-container>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </ng-template>

    <!-- Reactions -->
    <mat-card-actions>
        <ng-container *ngIf="post.reacted_by_user === true; else nonReacted">
            <button class="animated heartBeat fast" mat-icon-button color="primary" (click)="onReact()"><mat-icon>favorite</mat-icon></button>
        </ng-container>
        <ng-template #nonReacted>
            <button class="animated jello fast" mat-icon-button (click)="onReact()"><mat-icon>favorite_outline</mat-icon></button>
        </ng-template>
        <button mat-icon-button (click)="onComment()"><mat-icon>question_answer</mat-icon></button>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
        <span class="action-fill"></span>
        <button mat-button (click)="openLikes(post.id)" color="accent" class="post-likes"><mat-icon matPreffix>favorite</mat-icon> {{post.reactions | number}}</button>
    </mat-card-actions>

    <!-- Message -->
    <mat-card-content>
        <p>
            {{post.message | responsivetext:150}} <span style="color: #ff9100;" *ngIf="post.message.length >= 150"><b>See More</b></span>
        </p>
        <!-- Tags -->
        <div class="post-tags">
            <mat-chip-list aria-label="Tagging section" *ngFor="let tag of post.tags | slice:0:3;">
                <ng-container *ngIf="tag.type === 0; else hashtag">
                    <mat-chip color="accent" class="tag-chip" selected>@{{tag.tagged | responsivetext:5}}</mat-chip>
                </ng-container>
                <ng-template #hashtag>
                    <mat-chip color="primary" class="tag-chip" selected>#{{tag.tagged | responsivetext:7}}</mat-chip>
                </ng-template>
            </mat-chip-list>
            <ng-container *ngIf="post.tags.length > 3">
                <button mat-icon-button><mat-icon>more_horiz</mat-icon></button> 
            </ng-container>
        </div>
        <!-- Comments -->
        <div class="post-comment">
            <!-- New comment -->
            <span class="post-user-comment animated fadeIn fast" [ngClass]="{'disable': !post.user_comment, 'enable': post.user_comment}" >
                <b style="color: #ff9100">@{{user.username}}</b> {{post.user_comment}}
            </span>
            <!-- Total comments -->
            <span i18n="Card Comments|Home feed card comments card@@homeCardComment">+ {{post.total_comments | number}} comments</span>

            <!-- Comments box -->
            <div id="post-comment-wrapper" [ngClass]="{'disable': !post.comment_by_user, 'enable': post.comment_by_user}">
                <div class="post-comment-box animated fadeInUp fast" >
                    <mat-form-field appearance="outline" style="margin-bottom: -10px">
                        <mat-label>Add a comment</mat-label>
                        <textarea  matInput placeholder="Say something." [(ngModel)]="comment"></textarea>
                    </mat-form-field>
                    <button mat-mini-fab (click)="commentPost()" color="accent" aria-label="Add a comment button">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>