.example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .mat-toolbar {
   position: fixed;
   bottom: 0;
   font-family: 'Josefin Sans', sans-serif;
   margin-top: 25px;
   justify-content: space-around;
 }

 
 .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{
    right: -9px;
  }

  .mat-badge-medium.mat-badge-above .mat-badge-content{
    top: -5px;
  }

 @media (min-width: 640px){
  .mat-toolbar{
    display: none;
  }
}