<div class="wrapper">
    <div class="background-wrapper animated fadeIn fast">
        <img class="mat-elevation-z8" src="assets/img/profiles/covers/cover_1.jpg" alt="Cover picture">
    </div>
    <div class="profile-container">
        <div class="information">
            <mat-card class="info-card mat-elevation-z8 animated zoomIn">
                <div class="profile-img">
                    <img class="border-primary mat-elevation-z4" [src]="user.image" alt="Profile picture" onError="this.src ='assets/img/common/default-user.png'">
                </div>
                <div class="status">
                    <ng-container *ngIf="!isPrivate; else statusPrivate">
                        <mat-icon [ngClass]="{'active': user.active, 'inactive': !user.active}">lens</mat-icon>
                    </ng-container>
                    <ng-template #statusPrivate>
                        <mat-icon class="inactive">lens</mat-icon>
                    </ng-template>
                </div>
                <div class="profile-content">
                    <h2>{{user.name}} {{user.surname}} <span *ngIf="user.verified"><mat-icon class="verified-icon" style="margin: -10px;">check_circle</mat-icon></span></h2>
                    <ng-container *ngIf="user.actual_state && !isPrivate">
                        <p class="mat-card-subtitle">Currently at <a [routerLink]="[ '/place', 1 ]"><b>{{user.actual_state}}</b></a></p>
                    </ng-container>
                    <div style="margin-bottom: 10px;"></div>
                    <div class="user-info mat-card-subtitle">
                        <div class="info-item">
                            <div><mat-icon>pages</mat-icon></div>
                            <div><b> {{user.posts.length | number}} </b></div>
                        </div>
                        <div class="info-item">
                            <div><mat-icon>people</mat-icon></div>
                            <div><b> {{user.total_followers | number}} </b></div>
                        </div>
                        <div class="info-item">
                            <div><mat-icon>people_outline</mat-icon></div>
                            <div><b> {{user.total_following | number}} </b></div>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px;"></div>
                    
                    <div class="profile-actions">
                        <div class="follow">
                            <ng-container *ngIf="isConfig; else isConfigTmpl">
                                <button mat-raised-button color="primary"><span>Settings</span></button>
                            </ng-container>
                            <ng-template #isConfigTmpl>
                                <button mat-raised-button color="primary"><span>Follow</span></button>
                            </ng-template>
                        </div>
                        <div class="misc-actions" *ngIf="!isConfig && !isPrivate">
                            <button mat-button id="call"><mat-icon>local_phone</mat-icon></button>
                            <button mat-button id="message"><mat-icon>sms</mat-icon></button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="content">
            <mat-card class="content-card mat-elevation-z8 animated zoomIn">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label><mat-icon class="tab-icon">pages</mat-icon> Posts</ng-template>
                        <ng-template matTabContent>
                            <div class="tab-container">
                                <ng-container *ngFor="let post of posts; let i=index">
                                    <app-post [post]="post"></app-post>
                                </ng-container>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label><mat-icon class="tab-icon">local_play</mat-icon> Events</ng-template>
                        <ng-template matTabContent>
                            <div class="tab-container">
                                Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label><mat-icon class="tab-icon">star_half</mat-icon> Reviews</ng-template>
                        <ng-template matTabContent>
                            <div class="tab-container">
                                Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab *ngIf="isConfig">
                        <ng-template mat-tab-label><mat-icon class="tab-icon">poll</mat-icon> Stats</ng-template>
                        <ng-template matTabContent>
                            <div class="tab-container">
                                Content 4 - Loaded: {{getTimeLoaded(4) | date:'medium'}}
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>                          
            </mat-card>
        </div>
    </div>
</div>