<div class="wrapper">

    <!-- Info -->
    <div class="about-container">
        <div class="about-header animated slideInDown">
            <img src="assets/img/common/nightlifex.svg" alt="" height="48">
            <h2 id="app-name">{{appName}}</h2>
        </div>
        <div class="about-content animated zoomIn fast">
            <div class="slot">
                <div class="left">
                    <img src="assets/img/landing/places.svg" alt="Place representation" />
                </div>
                <div class="right">
                    <mat-card class="content-card mat-elevation-z4">
                        <div class="">
                            <div><span class="card-title"><b>Connect</b></span></div>
                            <div>
                                <p>Connect with your favorites places.</p>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

            <div class="slot">
                <div class="left">
                    <mat-card class="content-card mat-elevation-z4">
                        <div class="">
                            <div><span class="card-title"><b>Share</b></span></div>
                            <div>
                                <p>Share your best moments with your friends.</p>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="right">
                    <img src="assets/img/landing/friends.svg" alt="Place representation" />
                </div>
            </div>


            <div class="slot">
                <div class="left">
                    <img src="assets/img/landing/explore.svg" alt="Place representation" />
                </div>
                <div class="right">
                    <mat-card class="content-card mat-elevation-z4">
                        <div class="">
                            <div><span class="card-title"><b>Explore</b></span></div>
                            <div>
                                <p>Explore all kind of new places.</p>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

        </div>   
    </div>

    <!-- Sign Up -->
    <div class="form-container">
        <mat-card class="register-card mat-elevation-z8 animated zoomIn fast">
            <div class="register-header">
                <div style="text-align: center;"><img style="border-radius: 100%" src="assets/img/common/nightlifex.svg" alt="" height="64"></div>
                <span><b>Join your friends</b></span>
            </div>
            <mat-card-subtitle class="register-subtitle">
                <span>Get started with {{appName}}</span>
            </mat-card-subtitle>
            <mat-card-content>
                <form  [formGroup]="signUpGroup" id="signUpForm">
                    <p>
                        <mat-form-field class="register-field" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Enter your username" [(ngModel)]="signUpModel.username" name="username" required
                            formControlName="userFormControl" [errorStateMatcher]="userMatcher"
                            >
                            <mat-error *ngIf="signUpGroup.get('userFormControl').hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="signUpGroup.get('userFormControl').hasError('maxlength')">
                                Username must be below 15-length
                            </mat-error>
                            <mat-error *ngIf="signUpGroup.get('userFormControl').hasError('minlength')">
                                Username must be above 7-length
                            </mat-error>
                            <mat-error *ngIf="signUpGroup.get('userFormControl').hasError('pattern')">
                                Username must contain only alphanumerical and ('_') characters
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="register-field" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your email" [(ngModel)]="signUpModel.email" name="email" required
                            formControlName="emailFormControl" [errorStateMatcher]="emailMatcher"
                            >
                            <mat-error *ngIf="signUpGroup.get('emailFormControl').hasError('email') && !signUpGroup.get('emailFormControl').hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="signUpGroup.get('emailFormControl').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <button class="register-field" mat-raised-button color="primary" (click)="onRegister()" [disabled]="!signUpGroup.valid">
                            <ng-container *ngIf="!isLoading; else loadingTemplate">
                                <span class="animated fadeIn fast">Sign Up</span>
                            </ng-container>
                            <ng-template #loadingTemplate>
                                <mat-progress-bar class="animated fadeIn fast" style="margin: 18px 0;" mode="indeterminate"></mat-progress-bar>
                            </ng-template>                          
                        </button>
                    </p>
                </form>
                <p>
                    <button mat-button color="accent">I have an account</button>
                </p>
            </mat-card-content>
            <mat-card-footer></mat-card-footer>
        </mat-card>

        <!-- Optional Sign Up -->
        <mat-card class="register-card mat-elevation-z8 animated zoomIn fast" style="margin-top: 25px;">
            <div class="register-header" style="text-align: left;">
                <span><b>Stay connected</b></span>
            </div>
            <mat-card-subtitle style="text-align: left;">
                <span>Use your Facebook / Google account to sign up</span>
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button class="facebook-background"><fa-icon [icon]="['fab', 'facebook-square']" size="lg" [fixedWidth]="true"></fa-icon> Facebook</button>
                <button mat-raised-button color="warn"><fa-icon [icon]="['fab', 'google']" size="lg" [fixedWidth]="true"></fa-icon> Google</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- Footer -->
    <div class="footer mat-app-background mat-elevation-z8 animated slideInUp fast">
        <div class="row">
            <div class="row-header"><h4>About Us</h4></div>
            <div class="row-content">
                <div class="social">
                    <a href="https://twitter.com/twitter"><fa-icon [icon]="['fab', 'twitter']" size="2x" [fixedWidth]="true"></fa-icon></a>
                    <a href="https://www.facebook.com/NightLifeX"><fa-icon [icon]="['fab', 'facebook']" size="2x" [fixedWidth]="true"></fa-icon></a>
                    <a href="https://www.instagram.com/cristiano"><fa-icon [icon]="['fab', 'instagram']" size="2x" [fixedWidth]="true" ></fa-icon></a>
                    <a href="https://github.com/damascus-mx/Andromeda-Angular"><fa-icon [icon]="['fab', 'github']" size="2x" [fixedWidth]="true" ></fa-icon></a>
                    <a href="https://github.com/damascus-mx"><mat-icon style="transform: scale(1.4); margin-left: 5px; padding: 4px 0;">public</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-header"><h4>Developers</h4></div>
            <div class="row-content">
                <p><a href="https://github.com/damascus-mx/Andromeda-Go">Andromeda API</a></p>
                <p><a href="https://github.com/damascus-mx/Cosmos">Andromeda Cloud</a></p>
                <p><a href="https://github.com/damascus-mx">Careers</a></p>
            </div>
        </div>
        <div class="row">
            <div class="row-header"><h4>{{appName}} for Business</h4></div>
            <div class="row-content">
                <p><a href="">Join Us</a></p>
                <p><a href=""></a></p>
            </div>
        </div>
    </div>
</div>