<mat-toolbar style="z-index: 1;" class="animated fadeInDown fast mat-elevation-z8" fixedInViewport="true">
    <div id="logo">
        <img src="assets/img/common/nightlifex.svg" height="40" [routerLink]="[ '/' ]" />
        <mat-divider id="divider" [vertical]="true"></mat-divider>
    </div>
  
    <span id="space-1" class="fill-space"></span>
    <a routerLink="/">{{appName}}</a>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>

    <div id="search-bar" class="search animated zoomIn fast">
        <form class="search-form">
            <mat-form-field class="search-full-width" appearance="outline" color="primary">
                <mat-label>Search</mat-label>
                <input type="text" placeholder="Search for places, friends ..." aria-label="Number" matInput [formControl]="searchControl" [matAutocomplete]="auto">
                <mat-icon style="cursor:pointer;" (click)="onSearch()" matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
          </form>
          
    </div>
    <span class="search fill-space"></span>
  
    <div class="nav-control animated zoomIn fast">
        <button mat-icon-button aria-label="Explore Button" routerLink="/explore">
            <mat-icon>explore</mat-icon>
        </button>

        <button mat-icon-button aria-label="Add Post Button" routerLink="/publish">
            <mat-icon>add_box</mat-icon>
        </button>

        <button mat-icon-button aria-label="Profile Button" routerLink="/profile">
            <mat-icon>person</mat-icon>
        </button>
      
        <button mat-icon-button aria-label="Notifications Button" routerLink="/notifications" matBadge="99" matBadgeColor="warn">
            <mat-icon>notifications</mat-icon>
        </button>
    
    </div>
    <button mat-icon-button aria-label="Inbox button"  matBadge="8" matBadgeColor="warn">
        <mat-icon>chat_bubble</mat-icon>
    </button>
</mat-toolbar>