/* GLOBAL */
.feed{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  max-width: 100%;
}

.disable {
  display: none;
}

.enable {
  display: inherit;
}

/* CONTAINERS / MISC */

.feed-ads-container {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.post-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

  .post-card {
    max-width: inherit;
    margin: 10px 0;
  }

  .mat-card-title{
    font-size: 19px;
  }

  .mat-card-image{
    margin-bottom: 0;
  }

  .mat-card-actions{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: -15px;
    padding: 0;
  }


/* Mobile */
@media (max-width: 767px) {
  .feed-ads {
    max-width: 100% !important;
    width: 98%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width : 1280px){
  .feed{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .post-container > .mat-card {
    max-width: 400px !important;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .feed{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .post-container > .mat-card {
    max-width: 400px !important;
  }
}
