<div class="container feed">
    <!-- Ads stories -->
    <div class="feed-ads-container">
        <app-stories class="feed-ads" [stories]="ads"></app-stories>
    </div>

    <div class="post-container" *ngFor="let post of posts; let i = index" (deferLoad)="post.show = true">
        <ng-container *ngIf="post.show" >
            <!-- Post -->
            <app-post class="post-card" [post]="post"></app-post>

            <!-- Stories -->
            <ng-container *ngIf="i % 2 === 0">
                <div class="feed-ads-container">
                    <app-stories class="feed-ads" [stories]="stories"></app-stories>
                </div>
            </ng-container>

        </ng-container>
    </div>
</div>