<div class="container feed">
    <!-- Ads stories -->
    <div class="feed-ads-container">
        <app-stories class="feed-ads" [stories]="ads"></app-stories>
    </div>

    <div class="post-container"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()" >
        <ng-container *ngFor="let post of posts; let i = index;" >
            <!-- Post -->
            <app-post class="post-card" [post]="post"></app-post>

            <!-- Stories -->
            <ng-container *ngIf="i % 2 === 0">
                <div class="feed-ads-container">
                    <app-stories class="feed-ads" [stories]="stories"></app-stories>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>