<div class="card-container">
    <mat-card class=" mat-elevation-z8 animated zoomIn fast">
        <div class="register-header" style="text-align: left;">
            <span><b>Complete your registration</b></span>
        </div>
        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <mat-card-content>
            <form [formGroup]="signUp">
                <p>
                    <mat-form-field class="register-field" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your username" [(ngModel)]="signUpModel.username" name="username" required
                        formControlName="userControl" [errorStateMatcher]="userMatcher">
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('userControl').hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('userControl').hasError('maxlength')">
                            Username must be below 15-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('userControl').hasError('minlength')">
                            Username must be above 5-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('userControl').hasError('pattern')">
                            Username must contain only alphanumerical and ('_') characters
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="register-field" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" [(ngModel)]="signUpModel.email" name="email" required
                        formControlName="emailControl" [errorStateMatcher]="emailMatcher">
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('emailControl').hasError('email') && !signUp.get('emailControl').hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('emailControl').hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="register-field" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter your name" [(ngModel)]="signUpModel.name" name="name" required
                        formControlName="nameControl" [errorStateMatcher]="nameMatcher">
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('nameControl').hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('nameControl').hasError('maxlength')">
                            Name must be below 15-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('nameControl').hasError('minlength')">
                            Name must be above 1-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('nameControl').hasError('pattern')">
                            Name must contain only alphabet characters
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="register-field" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter your last name" [(ngModel)]="signUpModel.surname" name="surname" required
                        formControlName="surnameControl" [errorStateMatcher]="surnameMatcher">
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('surnameControl').hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('surnameControl').hasError('maxlength')">
                            Last Name must be below 15-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('surnameControl').hasError('minlength')">
                            Last Name must be above 1-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('surnameControl').hasError('pattern')">
                            Last Name must contain only alphabet characters
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="register-field" appearance="outline" id="passField">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="signUpModel.password" name="password" required
                        formControlName="passControl" [errorStateMatcher]="passwordMatcher">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('passControl').hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('passControl').hasError('maxlength')">
                            Password must be below 25-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('passControl').hasError('minlength')">
                            Password must be above 8-length
                        </mat-error>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('passControl').hasError('pattern')">
                            Password must contain:
                            <ul>
                                <li>Uppercase letter</li>
                                <li>Lowercase letter</li>
                                <li>One digit</li>
                                <li>'-, _, $, #, ?, !' characters</li>
                            </ul>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="register-field" appearance="outline" id="confirmField">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Enter your password" [type]="hideConfirm ? 'password' : 'text'" [(ngModel)]="signUpModel.confirmPass" name="confirm" required
                        formControlName="confirmControl" [errorStateMatcher]="confirmMatcher">
                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="animated fadeIn" *ngIf="signUp.get('confirmControl').hasError('required')">
                            Confirm your password is <strong>required</strong>
                        </mat-error>          
                    </mat-form-field>
                    <span class="mat-error animated fadeIn" style="font-size: 75%; padding-left: 25px;" *ngIf="signUpModel.password !== signUpModel.confirmPass">Password don't match</span>
                </p>
                <p>
                    <button class="register-field" mat-flat-button color="accent" (click)="onRegister()" 
                    [disabled]="!signUp.valid || signUpModel.password !== signUpModel.confirmPass">
                        <ng-container *ngIf="!isLoading; else loadingTemplate">
                            <span class="animated fadeIn fast">Complete Sign Up</span>
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <mat-progress-bar class="animated fadeIn fast" style="margin: 18px 0;" mode="indeterminate"></mat-progress-bar>
                        </ng-template>                          
                    </button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>