<mat-card>
    <mat-card-header>
        <h3>Complete your registration</h3>
    </mat-card-header>
    <mat-card-content>
        <form #signUpForm="ngForm">
            <p>
                <mat-form-field class="register-field" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter your username" [(ngModel)]="signUpModel.username" name="username" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="register-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your email" [(ngModel)]="signUpModel.email" name="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="register-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="signUpModel.password" name="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="register-field" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter your name" [(ngModel)]="signUpModel.name" name="name" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="register-field" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter your last name" [(ngModel)]="signUpModel.surname" name="surname" required>
                </mat-form-field>
            </p>
            <p>
                <button class="register-field" mat-flat-button color="accent" (click)="onRegister()" 
                [disabled]="!signUpModel.username || !signUpModel.email || !signUpModel.password || !signUpModel.name || !signUpModel.surname ">
                    <ng-container *ngIf="!isLoading; else loadingTemplate">
                        <span class="animated fadeIn fast">Complete Sign Up</span>
                    </ng-container>
                    <ng-template #loadingTemplate>
                        <mat-progress-bar class="animated fadeIn fast" style="margin: 18px 0;" mode="indeterminate"></mat-progress-bar>
                    </ng-template>                          
                </button>
            </p>
        </form>
    </mat-card-content>
</mat-card>