.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-dialog-content, .mat-list-base {
    padding: 0;
}

.user-line {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.user-line > img {
    height: 32px;
    width: 32px;
    border-radius: 100%
}

.user-line > * {
    margin-left: 10px;
}