<div class="container feed">

    <!-- Ads stories -->
    <mat-card class="feed-ads mat-elevation-z4 animated pulse fast mat-app-background">
        <div class="feed-ads-header">
            <h3 i18n="Top Places|Home feed top places title card@@homeTopPlcTitle">Top Places  {{ totalImagesShown }}</h3>
        </div>
        <div class="swiper-container" [swiper]="configStories">
            <div class="swiper-wrapper">
                <div class="swiper-slide story-slide" style="width: 90px;" *ngFor="let post of posts;">
                    <div class="story-circle">
                        <img src="assets/img/places/republicacuu.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <div class="post-container" *ngFor="let post of posts; let i = index" (deferLoad)="post.show = true">
        <ng-container *ngIf="post.show" >
            <!-- Post -->
            <mat-card class="post-card animated fadeIn fast mat-elevation-z4">

                <!-- Header -->
                <mat-card-header>
                    <div mat-card-avatar>
                        <img class="post-pic"
                        src={{post.user_pic}} 
                        [alt]="post.user" onError="this.src ='assets/img/common/default-user.png'">
                    </div>
                    <mat-card-title>
                        <span class="post-user">{{post.user}}</span>
                        <ng-container *ngIf="post.user_verified === true">
                            <span><mat-icon class="verified-icon">check_circle</mat-icon></span>
                        </ng-container>
                    </mat-card-title>
                    <mat-card-subtitle i18n="Post Card Subtitle|Home feed subtitle card@@homeCardSub">@{{post.username}} - {{post.iat}}</mat-card-subtitle>
                    <span class="action-fill"></span>
                    <div>
                        <button mat-icon-button (click)="openTools(post.user)"><mat-icon>more_horiz</mat-icon></button>
                    </div>
                </mat-card-header>

                <!-- Content container -->
                <ng-container *ngIf="post.content.length === 1; else swiperEnabled">
                    <ng-container *ngIf="post.content[0].type != 1; else videoContainer">
                        <img mat-card-image src={{post.content[0].url}} onError="this.src ='assets/img/common/default-user.png'">
                    </ng-container>
                    <ng-template #videoContainer>
                            <video  mat-card-image
                            muted loop controls
                            src={{post.content[0].url}} type="video/mp4" onError="this.src ='assets/img/common/default-user.png'">
                            <p>This browser does not support the video element.</p>
                        </video>
                    </ng-template>
                </ng-container>
                <ng-template #swiperEnabled>
                    <!-- Swiper -->
                    <div mat-card-image class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <ng-container mat-card-image *ngFor="let element of post.content">
                                <ng-container *ngIf="element.type != 1; else videoContainer">
                                    <img  class="swiper-slide" src={{element.url}} onError="this.src ='assets/img/common/default-user.png'">
                                </ng-container>
                                <ng-template #videoContainer>
                                        <video class="swiper-slide"
                                        muted loop controls
                                        src={{element.url}} type="video/mp4" onError="this.src ='assets/img/common/default-user.png'">
                                        <p>This browser does not support the video element.</p>
                                    </video>
                                </ng-template>
                            </ng-container>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </ng-template>

                <!-- Reactions -->
                <mat-card-actions>
                    <ng-container *ngIf="post.reacted_by_user === true; else nonReacted">
                        <button class="animated heartBeat fast" mat-icon-button color="primary" (click)="onReact(i)"><mat-icon>favorite</mat-icon></button>
                    </ng-container>
                    <ng-template #nonReacted>
                        <button class="animated jello fast" mat-icon-button (click)="onReact(i)"><mat-icon>favorite_outline</mat-icon></button>
                    </ng-template>
                    <button mat-icon-button><mat-icon>question_answer</mat-icon></button>
                    <button mat-icon-button><mat-icon>share</mat-icon></button>
                    <span class="action-fill"></span>
                    <button mat-button color="accent" class="post-likes"><mat-icon matPreffix>favorite</mat-icon> {{post.reactions | number}}</button>
                </mat-card-actions>

                <!-- Message -->
                <mat-card-content>
                    <p>
                        {{post.message}}
                    </p>
                    <div class="post-comment">
                        <span i18n="Card Comments|Home feed card comments card@@homeCardComment">+ {{post.total_comments | number}} comments</span>
                    </div>
                </mat-card-content>
            </mat-card>
            
            <!-- Stories -->
            <ng-container class="feed" *ngIf="i % 2 === 0">
                <mat-card class="feed-ads mat-elevation-z4 animated pulse fast mat-app-background" >
                    <div class="feed-ads-header">
                        <h3 i18n="Top Stories|Home feed top stories title card@@homeTopStrTitle">Top Stories</h3>
                    </div>
                    <div class="swiper-container" [swiper]="configStories">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide story-slide" *ngFor="let post of posts;">
                                <div class="story-circle">
                                    <img class="" src={{post.user_pic}} >
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </ng-container>
        </ng-container>
    </div>
</div>