.example-card {
    max-width: 400px;
    margin: 18px 0;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .feed{
      align-content: center;
  }