.feed-ads{
  height: 130px;
  max-height: 150px;

  border-radius: 20px;
  margin: 10px;
  margin-top: 20px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
}

.feed-ads-header > h3 {
  margin: 10px 13px;
}

.story-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.story-circle{
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background: linear-gradient(to right, #f50057,#ff9100);
  padding: 2px;
  cursor: pointer;
}

.story-circle > img {
  max-width: 72px;
  max-width: 72px;
  border-radius: 50%;
}

.feed-ads > * {
  max-height: 150px;
}

.post-card {
    max-width: 400px;
    margin: 10px;
  }

  .post-comment{
    color: #9e9e9e;
  }
  
  .post-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: cover;
  }

  .post-user{
    font-weight: 700;
  }

  .action-fill{
    flex: 1 1 auto;
  }

  .post-likes{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #ff9100;
    font-weight: 700;
    font-size: 15px;
  }

  .post-likes > * {
    margin: 0 5px;
  }
  
  .verified-icon{
    margin: 0 2px;
    font-size: 16px;
    color: #00b0ff;
  }
  
  .mat-card-title{
    font-size: 19px;
  }

  .feed{
      align-content: center;
      margin: 0 0 5% 0;
  }

  .mat-card-image{
    margin-bottom: 0;
  }

  .mat-card-actions{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: -15px;
    padding: 0;
  }

  .mat-card{
    border: 0;
  }

  .fill-container{
    height: 75px;
  }

 @media (min-width: 640px){
  .feed{
    margin: 2% 0;
  }
}