<mat-toolbar class="animated fadeInUp fast mat-elevation-z8" fixedInViewport="true">
    <button mat-icon-button aria-label="Home button" routerLink="/home">
        <mat-icon>dashboard</mat-icon>
    </button>

    <button mat-icon-button aria-label="Explore Button" routerLink="/explore">
        <mat-icon>explore</mat-icon>
    </button>

    <button mat-icon-button aria-label="Search Button" routerLink="/search">
        <mat-icon>search</mat-icon>
    </button>
  
    <button mat-icon-button aria-label="Search Button" routerLink="/search">
        <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button aria-label="Profile Button" routerLink="/profile">
        <mat-icon>person</mat-icon>
    </button>

</mat-toolbar>