<mat-toolbar  class="animated fadeInDown fast mat-elevation-z8" fixedInViewport="true">
    <button mat-icon-button aria-label="Upload picture button">
        <mat-icon>camera_alt</mat-icon>
    </button>
  
    <span class="example-fill-remaining-space"></span>
    <span>NightLifeX</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <button mat-icon-button aria-label="Notifications button"  matBadge="8" matBadgeColor="warn">
        <mat-icon>chat_bubble</mat-icon>
    </button>
</mat-toolbar>