.fill-space {
    flex: 1 1 auto;
  }

  .mat-toolbar {
   position: fixed;
   top: 0;
   z-index: 1;
   font-family: 'Josefin Sans', sans-serif;
   padding: 35px 20px;
   font-weight: 700;
 }

 a{
   text-decoration: none;
   color: inherit;
 }

 .nav-control{
   display: none;
 }

 #logo {
   display: flex;
   display: -moz-flex;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: -o-flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
 }

 .search {
   display: none;
 }

 .mat-divider {
   display: none;
 }

 @media (min-width: 768px){
  #space-1{
     flex: 0;
  }

  
 .mat-divider {
    height: 30px;
    display: inherit;
  }

  .nav-control{
    display: inherit;
  }

  #logo{
    margin-right: 15px;
  }
  #logo > img {
    margin-right: 15px;
  }

  .search {
    display: inherit;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .search-form > .mat-form-field {
    font-size: 14px;
    padding-top: 20px;
  }
  
  .search-full-width {
    width: 100%;
  }

 }