@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('src/assets/img/common/andromeda-back.svg');

  background-attachment: fixed;
  background-size: cover;
}

img{
  image-rendering: -webkit-optimize-contrast;
}


@media (min-width : 320px) and (max-width : 1280px) {
	body{
    background-image: url('src/assets/img/common/andromeda-back-mobile.svg');
    background-attachment: inherit;
    -webkit-background-attachment: initial;
    -moz-background-attachment: initial;
    -o-background-attachment: initial;

    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;

    background-attachment: initial;
  }
}

h1, h2, h3, h4, h5, h6, .mat-tab-label, .mat-dialog-title { font-family: 'Josefin Sans', sans-serif; font-weight: 700; }
mat-card, table, input, mat-form-field, mat-raised-button, mat-button, mat-flat-button, mat-stroked-button, button, .mat-stepper-vertical, .mat-stepper-horizontal > * {
    font-family: 'Josefin Sans', sans-serif !important;
}

mat-raised-button, mat-button, mat-flat-button, mat-stroked-button, .mat-tab-label, mat-fab, mat-mini-fab { font-weight: 700!important; }
.mat-raised-button, .mat-button, .mat-flat-button, .mat-stroked-button, mat-card { border-radius: 20px !important; }

.material-icons {
  font-family: 'Material Icons'!important;
  font-weight: normal!important;
}

.mat-form-field-suffix {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}


.container {
    display: flex;
    flex-flow: column wrap;
    margin: 18px;
}

.mat-card-image{
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}