@import '~@angular/material/theming';
@include mat-core();

$andromeda-primary: mat-palette($mat-pink, 400);
$andromeda-accent:  mat-palette($mat-orange, A400, A400, A700);
$andromeda-warn:    mat-palette($mat-red);
$andromeda-light-theme: mat-light-theme($andromeda-primary, $andromeda-accent, $andromeda-warn);
$andromeda-dark-theme: mat-dark-theme($andromeda-primary, $andromeda-accent, $andromeda-warn);

@include angular-material-theme($andromeda-dark-theme);

.andromeda-pink {
    @include angular-material-theme($andromeda-light-theme);
}
  
.andromeda-pink-dark {
    @include angular-material-theme($andromeda-dark-theme);
}